<p>catalog-component works!</p>
<table border="1" cellpadding="5" style="border-collapse: collapse; text-align: left; width: 500px;">
  <ng-container *ngFor="let cat of categories">
    <tr style="background-color: #f2f2f2;">
      <td><b>Mã Danh Mục</b></td>
      <td><b>Tên Danh Mục</b></td>
    </tr>
    <tr>
      <td>{{cat.Cateid}}</td>
      <td>{{cat.CateName}}</td>
    </tr>
    <tr>
      <td colspan="2" style="padding: 0;">
        <table border="1" cellpadding="5" style="width: 100%; border-collapse: collapse; border-style: hidden;">
          <tr>
            <td>Mã Sản Phẩm</td>
            <td>Tên Sản Phẩm</td>
            <td>Giá Sản Phẩm</td>
            <td>Hình Ảnh</td>
          </tr>
          
          <tr *ngFor="let p of cat.Products">
            <td>{{p.ProductId}}</td>
            <td>{{p.ProductName}}</td>
            <td>{{p.Price}}</td>
            <td>
              <img [src]="p.Image" width="50px">
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </ng-container>
</table>