thead tr{
    background-color: yellow;
}
table,tr,td,th{
    border: 1px;
    border-style: solid;
}
tbody tr:nth-child(2n)
{
    background-color: pink;
}
tbody tr:nth-child(2n+1)
{
    background-color: cyan;
}
.invalid_product
{
    color: red;
    text-decoration: line-through;
}